.hero-img{
    width: 100%;
    background: rgba(0, 0,0, 0.5);
    height: 60vh;
    position: relative;
}
.hero-img::before{
    content: '';
    background: url('https://img.freepik.com/free-photo/businessman-pointing-his-presentation-futuristic-digital-screen_53876-102617.jpg?w=740&t=st=1667044550~exp=1667045150~hmac=a5b5fc98eb8df263c5805540e53d258f40ac28e982e84ca0410f613fb9dadcec');
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cabeçalho{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1{
    font-size: 2.4rem;

}

.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px){
    .hero-img h1{
        font-size: 2rem;
    
    }
}